[submodule "third-party/metrics2-cmake"]
	path = third-party/metrics2-cmake
	url = git@code.byted.org:storage/metrics2-cmake.git
[submodule "third-party/jemalloc"]
    path = third-party/jemalloc
    url = git@code.byted.org:storage/jemalloc.git
[submodule "third-party/zstd"]
    path = third-party/zstd
    url = git@code.byted.org:storage/zstd.git
[submodule "third-party/snappy"]
    path = third-party/snappy
    url = git@code.byted.org:inf/snappy.git
[submodule "third-party/zlib"]
    path = third-party/zlib
    url = git@code.byted.org:inf/zlib.git
[submodule "third-party/lz4"]
    path = third-party/lz4
    url = git@code.byted.org:storage/lz4.git
[submodule "third-party/gflags"]
    path = third-party/gflags
    url = git@code.byted.org:storage/gflags.git
[submodule "third-party/terark-zip"]
    path = third-party/terark-zip
    url = git@code.byted.org:storage/terark-zip.git
