make_config.mk

*.a
*.arc
*.d
*.dylib*
*.gcda
*.gcno
*.o
*.so
*.so.*
*_test
*_bench
*_stress
*.out
*.class
*.*jnilib*
*.d-e
*.o-*
*.swp
*~
*.vcxproj
*.vcxproj.filters
*.sln
*.cmake
CMakeCache.txt
CMakeFiles/
build/

ldb
manifest_dump
zenfs
sst_dump
blob_dump
column_aware_encoding_exp
util/build_version.cc
build_tools/VALGRIND_LOGS/
coverage/COVERAGE_REPORT
.gdbhistory
.gdb_history
package/
unity.a
tags
etags
rocksdb_dump
rocksdb_undump
db_test2
trace_analyzer
trace_analyzer_test

java/out
java/target
java/*.log
java/include/org_rocksdb_*.h

.idea/
*.iml

rocksdb.cc
rocksdb.h
unity.cc
java/crossbuild/.vagrant
.vagrant/
java/**/*.asc
java/javadoc

scan_build_report/
t
LOG

db_logs/
tp2/
fbcode/
fbcode
buckifier/*.pyc
.vs
vs2017
/msvc14/build_version.dir
/msvc14
/terark-core
terark-core.got

cmake-build-*
pkg
.DS_Store
.clangd/
compile_commands.json

lz4-1.8.0/
snappy-1.1.4/
zstd-1.3.3
lz4-1.8.0.tar.gz
output/
output2/
snappy-1.1.4.tar.gz
zlib-1.2.11.tar.gz
zlib-1.2.11/
zstd-1.3.3.tar.gz
.vscode
include/rocksdb/terark_namespace.h
