[submodule "third-party/terark-zip"]
	path = third-party/terark-zip
	url = https://github.com/bytedance/terark-zip.git
[submodule "third-party/zstd"]
	path = third-party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third-party/snappy"]
	path = third-party/snappy
	url = https://github.com/google/snappy.git
[submodule "third-party/lz4"]
	path = third-party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third-party/jemalloc"]
	path = third-party/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third-party/zenfs"]
	path = third-party/zenfs
	url = https://github.com/bzbd/zenfs.git
